# Google OAuth 2.0 Client ID for Google Login
GOOGLE_CLIENT_ID=866300476470-4ebnghpoi029fimkh1pfad7o8ajfv3ka.apps.googleusercontent.com

# Gemini API Key for the LLM integration
GEMINI_API_KEY=AIzaSyAOgYyjmiz1pp8RYr8MeYCq9JUoVamHEGs
